<a href="https://colab.research.google.com/github/paulis-an/spark_notebook/blob/main/spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark==3.0.1 py4j==0.10.9

Collecting pyspark==3.0.1
  Downloading pyspark-3.0.1.tar.gz (204.2 MB)
     |████████████████████████████████| 204.2 MB 28 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 62.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612246 sha256=a68da8837bbf917b8efb9a340a9a9e7d122005d4eae9787ee789c53cf7829548
  Stored in directory: /root/.cache/pip/wheels/5e/34/fa/b37b5cef503fc5148b478b2495043ba61b079120b7ff379f9b
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder\
        .master("local[8]")\
        .appName('PySpark_Tutorial')\
        .getOrCreate()

In [ ]:
csv_file = '/content/sample_data/california_housing_test.csv'

In [ ]:
data = spark.read.csv(
    csv_file,
    sep=',',
    header=True,
)

In [ ]:
data.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [ ]:
from pyspark.sql.types import *

In [ ]:
csv_file = '/content/german_credit_augmented.csv'

In [ ]:
data = spark.read.csv(
    csv_file,
    sep=',',
    header=True,
)

In [ ]:
data.printSchema()

root
 |-- age: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- job: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- saving_accounts: string (nullable = true)
 |-- checking_account: string (nullable = true)
 |-- credit_amount: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- default: string (nullable = true)
 |-- contract_dt: string (nullable = true)
 |-- client_id: string (nullable = true)

In [ ]:
data_schema = [
               StructField('age', IntegerType(), True),
               StructField('sex', StringType(), True),
               StructField('job', IntegerType(), True),
               StructField('housing', StringType(), True),
               StructField('saving_accounts', StringType(), True),
               StructField('checking_account', StringType(), True),
               StructField('credit_amount', IntegerType(), True),
               StructField('duration', IntegerType(), True),
               StructField('purpose', StringType(), True),
               StructField('default', IntegerType(), True),
               StructField('contract_dt', DateType(), True),
               StructField('client_id', IntegerType(), True)
            ]

In [ ]:
final_struc = StructType(fields = data_schema)

In [ ]:
data = spark.read.csv(
    csv_file,
    sep=',',
    header=True,
    schema=final_struc 
)

In [ ]:
data.printSchema()

root
 |-- age: integer (nullable = true)
 |-- sex: string (nullable = true)
 |-- job: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- saving_accounts: string (nullable = true)
 |-- checking_account: string (nullable = true)
 |-- credit_amount: integer (nullable = true)
 |-- duration: integer (nullable = true)
 |-- purpose: string (nullable = true)
 |-- default: integer (nullable = true)
 |-- contract_dt: date (nullable = true)
 |-- client_id: integer (nullable = true)

In [ ]:
print(data)

DataFrame[age: int, sex: string, job: int, housing: string, saving_accounts: string, checking_account: string, credit_amount: int, duration: int, purpose: string, default: int, contract_dt: date, client_id: int]

In [ ]:
data.dtypes

[('age', 'int'),
 ('sex', 'string'),
 ('job', 'int'),
 ('housing', 'string'),
 ('saving_accounts', 'string'),
 ('checking_account', 'string'),
 ('credit_amount', 'int'),
 ('duration', 'int'),
 ('purpose', 'string'),
 ('default', 'int'),
 ('contract_dt', 'date'),
 ('client_id', 'int')]

In [ ]:
data.schema

StructType(List(StructField(age,IntegerType,true),StructField(sex,StringType,true),StructField(job,IntegerType,true),StructField(housing,StringType,true),StructField(saving_accounts,StringType,true),StructField(checking_account,StringType,true),StructField(credit_amount,IntegerType,true),StructField(duration,IntegerType,true),StructField(purpose,StringType,true),StructField(default,IntegerType,true),StructField(contract_dt,DateType,true),StructField(client_id,IntegerType,true)))

In [ ]:
data.head(10)

[Row(age=33, sex='male', job=2, housing='own', saving_accounts=None, checking_account=None, credit_amount=3074, duration=9, purpose='radio/TV', default=0, contract_dt=datetime.date(2008, 6, 29), client_id=210),
 Row(age=43, sex='male', job=1, housing='own', saving_accounts='little', checking_account='little', credit_amount=1344, duration=12, purpose='car', default=0, contract_dt=datetime.date(2007, 5, 20), client_id=929),
 Row(age=52, sex='male', job=2, housing='own', saving_accounts='quite rich', checking_account=None, credit_amount=936, duration=9, purpose='education', default=0, contract_dt=datetime.date(2008, 4, 27), client_id=200),
 Row(age=35, sex='female', job=3, housing='own', saving_accounts='little', checking_account=None, credit_amount=1393, duration=11, purpose='car', default=0, contract_dt=datetime.date(2007, 5, 6), client_id=45),
 Row(age=28, sex='male', job=2, housing='own', saving_accounts='little', checking_account=None, credit_amount=776, duration=12, purpose='radio/TV', default=0, contract_dt=datetime.date(2007, 7, 21), client_id=358),
 Row(age=27, sex='female', job=2, housing='own', saving_accounts='little', checking_account='moderate', credit_amount=1295, duration=18, purpose='furniture/equipment', default=0, contract_dt=datetime.date(2008, 6, 18), client_id=86),
 Row(age=29, sex='female', job=2, housing='own', saving_accounts='little', checking_account='moderate', credit_amount=959, duration=9, purpose='furniture/equipment', default=1, contract_dt=datetime.date(2007, 5, 21), client_id=351),
 Row(age=42, sex='female', job=2, housing='rent', saving_accounts='rich', checking_account='rich', credit_amount=409, duration=12, purpose='radio/TV', default=0, contract_dt=datetime.date(2008, 6, 5), client_id=27),
 Row(age=26, sex='male', job=2, housing='own', saving_accounts='little', checking_account='little', credit_amount=4370, duration=42, purpose='radio/TV', default=1, contract_dt=datetime.date(2007, 11, 29), client_id=639),
 Row(age=55, sex='male', job=2, housing='free', saving_accounts='rich', checking_account=None, credit_amount=1555, duration=12, purpose='repairs', default=1, contract_dt=datetime.date(2007, 9, 11), client_id=754)]

In [ ]:
data.show

<bound method DataFrame.show of DataFrame[age: int, sex: string, job: int, housing: string, saving_accounts: string, checking_account: string, credit_amount: int, duration: int, purpose: string, default: int, contract_dt: date, client_id: int]>

In [ ]:
data.show()

+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+-------+-----------+---------+
|age|   sex|job|housing|saving_accounts|checking_account|credit_amount|duration|            purpose|default|contract_dt|client_id|
+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+-------+-----------+---------+
| 33|  male|  2|    own|           null|            null|         3074|       9|           radio/TV|      0| 2008-06-29|      210|
| 43|  male|  1|    own|         little|          little|         1344|      12|                car|      0| 2007-05-20|      929|
| 52|  male|  2|    own|     quite rich|            null|          936|       9|          education|      0| 2008-04-27|      200|
| 35|female|  3|    own|         little|            null|         1393|      11|                car|      0| 2007-05-06|       45|
| 28|  male|  2|    own|         little|            null|          776|      12|           radio/TV|      0| 2007-07-21|      358|
| 27|female|  2|    own|         little|        moderate|         1295|      18|furniture/equipment|      0| 2008-06-18|       86|
| 29|female|  2|    own|         little|        moderate|          959|       9|furniture/equipment|      1| 2007-05-21|      351|
| 42|female|  2|   rent|           rich|            rich|          409|      12|           radio/TV|      0| 2008-06-05|       27|
| 26|  male|  2|    own|         little|          little|         4370|      42|           radio/TV|      1| 2007-11-29|      639|
| 55|  male|  2|   free|           rich|            null|         1555|      12|            repairs|      1| 2007-09-11|      754|
| 27|female|  2|    own|         little|          little|         3123|      24|                car|      1| 2008-04-16|      500|
| 35|  male|  2|   free|         little|          little|         3386|      12|                car|      1| 2007-11-16|      457|
| 48|  male|  2|    own|         little|          little|         1082|      12|                car|      1| 2007-05-13|      835|
| 34|  male|  1|    own|       moderate|            null|         1743|       6|           business|      0| 2008-02-14|      348|
| 35|  male|  2|    own|         little|        moderate|         2576|       7|           radio/TV|      0| 2008-01-20|      447|
| 27|  male|  2|    own|         little|            null|         3850|      18|                car|      0| 2007-09-03|      366|
| 46|  male|  2|   free|     quite rich|            null|          727|      10|          education|      0| 2007-07-06|      354|
| 37|  male|  3|    own|           null|        moderate|         4712|      24|           business|      0| 2007-11-23|      564|
| 29|  male|  2|    own|           null|            null|         3556|      15|                car|      0| 2007-05-06|      962|
| 21|female|  2|   rent|       moderate|        moderate|         3441|      30|furniture/equipment|      1| 2007-10-03|      618|
+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+-------+-----------+---------+
only showing top 20 rows

In [ ]:
data.first()

Row(age=33, sex='male', job=2, housing='own', saving_accounts=None, checking_account=None, credit_amount=3074, duration=9, purpose='radio/TV', default=0, contract_dt=datetime.date(2008, 6, 29), client_id=210)

In [ ]:
data.describe()

DataFrame[summary: string, age: string, sex: string, job: string, housing: string, saving_accounts: string, checking_account: string, credit_amount: string, duration: string, purpose: string, default: string, client_id: string]

In [ ]:
data.columns

['age',
 'sex',
 'job',
 'housing',
 'saving_accounts',
 'checking_account',
 'credit_amount',
 'duration',
 'purpose',
 'default',
 'contract_dt',
 'client_id']

In [ ]:
#@title Текст заголовка по умолчанию
data.select('housing', 'sex').show(5)

+-------+------+
|housing|   sex|
+-------+------+
|    own|  male|
|    own|  male|
|    own|  male|
|    own|female|
|    own|  male|
+-------+------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import col, lit
data.filter((col('contract_dt') > lit('2007-09-03')) & (col('contract_dt') < lit('2007-11-23'))).show(5)

+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+-------+-----------+---------+
|age|   sex|job|housing|saving_accounts|checking_account|credit_amount|duration|            purpose|default|contract_dt|client_id|
+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+-------+-----------+---------+
| 55|  male|  2|   free|           rich|            null|         1555|      12|            repairs|      1| 2007-09-11|      754|
| 35|  male|  2|   free|         little|          little|         3386|      12|                car|      1| 2007-11-16|      457|
| 21|female|  2|   rent|       moderate|        moderate|         3441|      30|furniture/equipment|      1| 2007-10-03|      618|
| 47|  male|  2|   free|         little|            null|         5103|      24|           radio/TV|      0| 2007-10-25|      683|
| 28|  male|  2|    own|         little|            null|         1413|      24|           radio/TV|      0| 2007-10-18|      508|
+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+-------+-----------+---------+
only showing top 5 rows