<a href="https://colab.research.google.com/github/paulis-an/spark_notebook/blob/main/spark_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 40 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 31.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805911 sha256=094a92308125a02681ebf4c47818dbcc728c9422598a2806401a3675fe552c76
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [ ]:
from google.colab import files

In [ ]:
file = files.upload()

KeyboardInterrupt: ignored

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Spark practice").getOrCreate()

In [ ]:
spark

In [ ]:
!head -n5 /content/drive/MyDrive/Spark_data/cars.csv

manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,body_type,has_warranty,state,drivetrain,price_usd,is_exchangeable,location_region,number_of_photos,up_counter,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,universal,False,owned,all,10900.0,False,Минская обл.,9,13,False,True,True,True,False,True,False,True,True,True,16
Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,universal,False,owned,all,5000.0,True,Минская обл.,12,54,False,True,False,False,True,True,False,False,False,True,83
Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,suv,False,owned,all,2800.0,True,Минская обл.,4,72,False,True,False,False,False,False,False,False,True,True,151
Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,sedan,False,owned,all,9999.0,True,Минская обл.,9,42,True,False,False,False,False,False,False,False,False,False,86

In [ ]:
cars = "/content/drive/MyDrive/Spark_data/cars.csv"

In [ ]:
df = spark.read.format("csv") \
    .option("header", "true") \
    .load(cars)

In [ ]:
df.show(3)

+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|manufacturer_name|model_name|transmission| color|odometer_value|year_produced|engine_fuel|engine_has_gas|engine_type|engine_capacity|body_type|has_warranty|state|drivetrain|price_usd|is_exchangeable|location_region|number_of_photos|up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|duration_listed|
+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|           Subaru|   Outback|   automatic|silver|        190000|         2010|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|  10900.0|          False|   Минская обл.|               9|        13|    False|     True|     True|     True|    False|     True|    False|     True|     True|     True|             16|
|           Subaru|   Outback|   automatic|  blue|        290000|         2002|   gasoline|         False|   gasoline|            3.0|universal|       False|owned|       all|   5000.0|           True|   Минская обл.|              12|        54|    False|     True|    False|    False|     True|     True|    False|    False|    False|     True|             83|
|           Subaru|  Forester|   automatic|   red|        402000|         2001|   gasoline|         False|   gasoline|            2.5|      suv|       False|owned|       all|   2800.0|           True|   Минская обл.|               4|        72|    False|     True|    False|    False|    False|    False|    False|    False|     True|     True|            151|
+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
only showing top 3 rows

In [ ]:
df.show(1, vertical=True)

-RECORD 0-------------------------
 manufacturer_name | Subaru
 model_name        | Outback
 transmission      | automatic
 color             | silver
 odometer_value    | 190000
 year_produced     | 2010
 engine_fuel       | gasoline
 engine_has_gas    | False
 engine_type       | gasoline
 engine_capacity   | 2.5
 body_type         | universal
 has_warranty      | False
 state             | owned
 drivetrain        | all
 price_usd         | 10900.0
 is_exchangeable   | False
 location_region   | Минская обл.
 number_of_photos  | 9
 up_counter        | 13
 feature_0         | False
 feature_1         | True
 feature_2         | True
 feature_3         | True
 feature_4         | False
 feature_5         | True
 feature_6         | False
 feature_7         | True
 feature_8         | True
 feature_9         | True
 duration_listed   | 16
only showing top 1 row

In [ ]:
df.select("manufacturer_name", "model_name").show(5)

+-----------------+----------+
|manufacturer_name|model_name|
+-----------------+----------+
|           Subaru|   Outback|
|           Subaru|   Outback|
|           Subaru|  Forester|
|           Subaru|   Impreza|
|           Subaru|    Legacy|
+-----------------+----------+
only showing top 5 rows

In [ ]:
df.head()

Row(manufacturer_name='Subaru', model_name='Outback', transmission='automatic', color='silver', odometer_value='190000', year_produced='2010', engine_fuel='gasoline', engine_has_gas='False', engine_type='gasoline', engine_capacity='2.5', body_type='universal', has_warranty='False', state='owned', drivetrain='all', price_usd='10900.0', is_exchangeable='False', location_region='Минская обл.', number_of_photos='9', up_counter='13', feature_0='False', feature_1='True', feature_2='True', feature_3='True', feature_4='False', feature_5='True', feature_6='False', feature_7='True', feature_8='True', feature_9='True', duration_listed='16')

import functions as F -->
F.col

In [ ]:
from pyspark.sql import functions as F
df.select(F.col("manufacturer_name"), F.col("model_name")).show(5)

+-----------------+----------+
|manufacturer_name|model_name|
+-----------------+----------+
|           Subaru|   Outback|
|           Subaru|   Outback|
|           Subaru|  Forester|
|           Subaru|   Impreza|
|           Subaru|    Legacy|
+-----------------+----------+
only showing top 5 rows

.FILTER

In [ ]:
df.select(F.col("manufacturer_name"), F.col("model_name")).filter("manufacturer_name = 'Audi'").show(5)

+-----------------+----------+
|manufacturer_name|model_name|
+-----------------+----------+
|             Audi|        Q7|
|             Audi|        TT|
|             Audi|       100|
|             Audi|        A6|
|             Audi|        Q3|
+-----------------+----------+
only showing top 5 rows

In [ ]:
df\
  .select(F.col("manufacturer_name"), F.col("model_name"), F.col("transmission"))\
  .filter("manufacturer_name = 'Audi' and transmission = 'mechanical'")\
  .show(5)

+-----------------+----------+------------+
|manufacturer_name|model_name|transmission|
+-----------------+----------+------------+
|             Audi|       100|  mechanical|
|             Audi|A6 Allroad|  mechanical|
|             Audi|       100|  mechanical|
|             Audi|        A4|  mechanical|
|             Audi|        80|  mechanical|
+-----------------+----------+------------+
only showing top 5 rows

In [ ]:
df\
  .select(F.col("manufacturer_name"), F.col("model_name"), F.col("transmission"))\
  .filter("manufacturer_name = 'Audi' and transmission = 'mechanical'")\
  .filter("model_name = '100'")\
  .show(5)

+-----------------+----------+------------+
|manufacturer_name|model_name|transmission|
+-----------------+----------+------------+
|             Audi|       100|  mechanical|
|             Audi|       100|  mechanical|
|             Audi|       100|  mechanical|
|             Audi|       100|  mechanical|
|             Audi|       100|  mechanical|
+-----------------+----------+------------+
only showing top 5 rows

In [ ]:
df\
  .select(F.col("manufacturer_name"), F.col("model_name"), F.col("transmission"))\
  .filter(F.col("manufacturer_name") == 'Audi')\
  .filter(F.col("model_name") == '100')\
  .show(10)

+-----------------+----------+------------+
|manufacturer_name|model_name|transmission|
+-----------------+----------+------------+
|             Audi|       100|  mechanical|
|             Audi|       100|  mechanical|
|             Audi|       100|  mechanical|
|             Audi|       100|  mechanical|
|             Audi|       100|  mechanical|
|             Audi|       100|  mechanical|
|             Audi|       100|  mechanical|
|             Audi|       100|  mechanical|
|             Audi|       100|  mechanical|
|             Audi|       100|  mechanical|
+-----------------+----------+------------+
only showing top 10 rows

.COUNT()

In [ ]:
df.count()

38531

In [ ]:
df.select(F.col("manufacturer_name")).distinct().count()

55

.GroupBy()     .OrderBy()

In [ ]:
df.groupby("manufacturer_name").count().show()

+-----------------+-----+
|manufacturer_name|count|
+-----------------+-----+
|       Volkswagen| 4243|
|            Lexus|  213|
|           Jaguar|   53|
|            Rover|  235|
|           Lancia|   92|
|             Jeep|  107|
|       Mitsubishi|  887|
|              ГАЗ|  200|
|              Kia|  912|
|             Mini|   68|
|        Chevrolet|  436|
|            Volvo|  721|
|            Lifan|   47|
|          Hyundai| 1116|
|             LADA|  146|
|        SsangYong|   79|
|             Audi| 2468|
|             Seat|  303|
|         Cadillac|   43|
|          Pontiac|   42|
+-----------------+-----+
only showing top 20 rows

In [ ]:
df.groupby("manufacturer_name").count().orderBy("count").show(5)

+-----------------+-----+
|manufacturer_name|count|
+-----------------+-----+
|       Great Wall|   36|
|          Lincoln|   36|
|              ЗАЗ|   42|
|          Pontiac|   42|
|         Cadillac|   43|
+-----------------+-----+
only showing top 5 rows

In [ ]:
df.groupby("manufacturer_name").count().orderBy(F.col("count").desc()).show(5)

+-----------------+-----+
|manufacturer_name|count|
+-----------------+-----+
|       Volkswagen| 4243|
|             Opel| 2759|
|              BMW| 2610|
|             Ford| 2566|
|          Renault| 2493|
+-----------------+-----+
only showing top 5 rows

.withColumnRenamed()

In [ ]:
df.withColumnRenamed("manufacturer_name", "marka").show(5)

+------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
| marka|model_name|transmission| color|odometer_value|year_produced|engine_fuel|engine_has_gas|engine_type|engine_capacity|body_type|has_warranty|state|drivetrain|price_usd|is_exchangeable|location_region|number_of_photos|up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|duration_listed|
+------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|Subaru|   Outback|   automatic|silver|        190000|         2010|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|  10900.0|          False|   Минская обл.|               9|        13|    False|     True|     True|     True|    False|     True|    False|     True|     True|     True|             16|
|Subaru|   Outback|   automatic|  blue|        290000|         2002|   gasoline|         False|   gasoline|            3.0|universal|       False|owned|       all|   5000.0|           True|   Минская обл.|              12|        54|    False|     True|    False|    False|     True|     True|    False|    False|    False|     True|             83|
|Subaru|  Forester|   automatic|   red|        402000|         2001|   gasoline|         False|   gasoline|            2.5|      suv|       False|owned|       all|   2800.0|           True|   Минская обл.|               4|        72|    False|     True|    False|    False|    False|    False|    False|    False|     True|     True|            151|
|Subaru|   Impreza|  mechanical|  blue|         10000|         1999|   gasoline|         False|   gasoline|            3.0|    sedan|       False|owned|       all|   9999.0|           True|   Минская обл.|               9|        42|     True|    False|    False|    False|    False|    False|    False|    False|    False|    False|             86|
|Subaru|    Legacy|   automatic| black|        280000|         2001|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|  2134.11|           True|Гомельская обл.|              14|         7|    False|     True|    False|     True|     True|    False|    False|    False|    False|     True|              7|
+------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
only showing top 5 rows

In [ ]:
df\
  .withColumnRenamed("manufacturer_name", "marka")\
  .select("marka", "model_name", "year_produced")\
  .show(5)

+------+----------+-------------+
| marka|model_name|year_produced|
+------+----------+-------------+
|Subaru|   Outback|         2010|
|Subaru|   Outback|         2002|
|Subaru|  Forester|         2001|
|Subaru|   Impreza|         1999|
|Subaru|    Legacy|         2001|
+------+----------+-------------+
only showing top 5 rows

.withColumn()

In [ ]:
df.withColumn("next_year", F.col("year_produced") + 1).select("manufacturer_name", "model_name", "year_produced", "next_year").show(5)

+-----------------+----------+-------------+---------+
|manufacturer_name|model_name|year_produced|next_year|
+-----------------+----------+-------------+---------+
|           Subaru|   Outback|         2010|   2011.0|
|           Subaru|   Outback|         2002|   2003.0|
|           Subaru|  Forester|         2001|   2002.0|
|           Subaru|   Impreza|         1999|   2000.0|
|           Subaru|    Legacy|         2001|   2002.0|
+-----------------+----------+-------------+---------+
only showing top 5 rows

df.printSchema()

In [ ]:
df.printSchema()

root
 |-- manufacturer_name: string (nullable = true)
 |-- model_name: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- color: string (nullable = true)
 |-- odometer_value: string (nullable = true)
 |-- year_produced: string (nullable = true)
 |-- engine_fuel: string (nullable = true)
 |-- engine_has_gas: string (nullable = true)
 |-- engine_type: string (nullable = true)
 |-- engine_capacity: string (nullable = true)
 |-- body_type: string (nullable = true)
 |-- has_warranty: string (nullable = true)
 |-- state: string (nullable = true)
 |-- drivetrain: string (nullable = true)
 |-- price_usd: string (nullable = true)
 |-- is_exchangeable: string (nullable = true)
 |-- location_region: string (nullable = true)
 |-- number_of_photos: string (nullable = true)
 |-- up_counter: string (nullable = true)
 |-- feature_0: string (nullable = true)
 |-- feature_1: string (nullable = true)
 |-- feature_2: string (nullable = true)
 |-- feature_3: string (nullable = true)
 |-- feature_4: string (nullable = true)
 |-- feature_5: string (nullable = true)
 |-- feature_6: string (nullable = true)
 |-- feature_7: string (nullable = true)
 |-- feature_8: string (nullable = true)
 |-- feature_9: string (nullable = true)
 |-- duration_listed: string (nullable = true)

df.describe()

In [ ]:
df.describe().show()

+-------+-----------------+------------------+------------+------+------------------+------------------+-------------+--------------+-----------+------------------+---------+------------+---------+----------+-----------------+---------------+----------------+-----------------+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+------------------+
|summary|manufacturer_name|        model_name|transmission| color|    odometer_value|     year_produced|  engine_fuel|engine_has_gas|engine_type|   engine_capacity|body_type|has_warranty|    state|drivetrain|        price_usd|is_exchangeable| location_region| number_of_photos|        up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|   duration_listed|
+-------+-----------------+------------------+------------+------+------------------+------------------+-------------+--------------+-----------+------------------+---------+------------+---------+----------+-----------------+---------------+----------------+-----------------+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+------------------+
|  count|            38531|             38531|       38531| 38531|             38531|             38531|        38531|         38531|      38531|             38521|    38531|       38531|    38531|     38531|            38531|          38531|           38531|            38531|             38531|    38531|    38531|    38531|    38531|    38531|    38531|    38531|    38531|    38531|    38531|             38531|
|   mean|             null|1168.2918056562726|        null|  null| 248864.6384469648|2002.9437336170874|         null|          null|       null| 2.055161106928776|     null|        null|     null|      null|6639.971021255605|           null|            null|9.649061794399314|16.306091199294073|     null|     null|     null|     null|     null|     null|     null|     null|     null|     null|  80.5772494874257|
| stddev|             null| 9820.119520829581|        null|  null|136072.37652978094| 8.065730511309884|         null|          null|       null|0.6711776672087446|     null|        null|     null|      null|6428.152018202907|           null|            null|6.093216996872852| 43.28693309422311|     null|     null|     null|     null|     null|     null|     null|     null|     null|     null|112.82656864261315|
|    min|            Acura|               100|   automatic| black|                 0|              1942|       diesel|         False|     diesel|               0.2|cabriolet|       False|emergency|       all|              1.0|          False|  Брестская обл.|                1|                 1|    False|    False|    False|    False|    False|    False|    False|    False|    False|    False|                 0|
|    max|              УАЗ|            Таврия|  mechanical|yellow|            999999|              2019|hybrid-petrol|          True|   gasoline|               8.0|      van|        True|    owned|      rear|           9999.0|           True|Могилевская обл.|                9|                99|     True|     True|     True|     True|     True|     True|     True|     True|     True|     True|               995|
+-------+-----------------+------------------+------------+------+------------------+------------------+-------------+--------------+-----------+------------------+---------+------------+---------+----------+-----------------+---------------+----------------+-----------------+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+------------------+

In [ ]:
import pyspark.sql.types as t

ПРАКТИКА Кол-во объявлений, средний год выпуска авто, мин цена, макс цена по производителю

In [ ]:
def main():
  spark = SparkSession.builder.getOrCreate()

  df2 = spark.read.format('csv').option("header", "true").load(cars)

  df2.show(5)

  func = (
      df2
      .groupby("manufacturer_name")
      .agg(
          F.count("manufacturer_name").alias("count"),
          F.round(F.avg("year_produced")).cast(t.IntegerType()).alias("avg_year"),
          F.min("price_usd").alias("min_price"),
           F.max("price_usd").alias("max_price")
        )
  )

  func.show(5)
  func.write.mode("overwrite").format("json").save("result.json")
  func.write.mode("overwrite").format("csv").save("result.csv")
  #func.coalesce(4).write.mode("overwrite").format("json").save("result.json")

main()

+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|manufacturer_name|model_name|transmission| color|odometer_value|year_produced|engine_fuel|engine_has_gas|engine_type|engine_capacity|body_type|has_warranty|state|drivetrain|price_usd|is_exchangeable|location_region|number_of_photos|up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|duration_listed|
+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|           Subaru|   Outback|   automatic|silver|        190000|         2010|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|  10900.0|          False|   Минская обл.|               9|        13|    False|     True|     True|     True|    False|     True|    False|     True|     True|     True|             16|
|           Subaru|   Outback|   automatic|  blue|        290000|         2002|   gasoline|         False|   gasoline|            3.0|universal|       False|owned|       all|   5000.0|           True|   Минская обл.|              12|        54|    False|     True|    False|    False|     True|     True|    False|    False|    False|     True|             83|
|           Subaru|  Forester|   automatic|   red|        402000|         2001|   gasoline|         False|   gasoline|            2.5|      suv|       False|owned|       all|   2800.0|           True|   Минская обл.|               4|        72|    False|     True|    False|    False|    False|    False|    False|    False|     True|     True|            151|
|           Subaru|   Impreza|  mechanical|  blue|         10000|         1999|   gasoline|         False|   gasoline|            3.0|    sedan|       False|owned|       all|   9999.0|           True|   Минская обл.|               9|        42|     True|    False|    False|    False|    False|    False|    False|    False|    False|    False|             86|
|           Subaru|    Legacy|   automatic| black|        280000|         2001|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|  2134.11|           True|Гомельская обл.|              14|         7|    False|     True|    False|     True|     True|    False|    False|    False|    False|     True|              7|
+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
only showing top 5 rows

+-----------------+-----+--------+---------+---------+
|manufacturer_name|count|avg_year|min_price|max_price|
+-----------------+-----+--------+---------+---------+
|            Acura|   66|    2007|  11400.0|   9700.0|
|       Alfa Romeo|  207|    1999|   1000.0|    980.0|
|             Audi| 2468|    2000|   1000.0|   9999.0|
|              BMW| 2610|    2003|   1000.0|   9999.0|
|            Buick|   47|    2014|  10199.0|   9999.0|
+-----------------+-----+--------+---------+---------+
only showing top 5 rows

In [ ]:
!ls

drive  result.csv  result.json	sample_data

In [ ]:
!ls result.json

part-00000-76e3bda5-b7a3-47e8-8575-d297ac731f4c-c000.json  _SUCCESS

In [ ]:
!cat result.json/part-00000-76e3bda5-b7a3-47e8-8575-d297ac731f4c-c000.json

{"manufacturer_name":"Acura","count":66,"avg_year":2007,"min_price":"11400.0","max_price":"9700.0"}
{"manufacturer_name":"Alfa Romeo","count":207,"avg_year":1999,"min_price":"1000.0","max_price":"980.0"}
{"manufacturer_name":"Audi","count":2468,"avg_year":2000,"min_price":"1000.0","max_price":"9999.0"}
{"manufacturer_name":"BMW","count":2610,"avg_year":2003,"min_price":"1000.0","max_price":"9999.0"}
{"manufacturer_name":"Buick","count":47,"avg_year":2014,"min_price":"10199.0","max_price":"9999.0"}
{"manufacturer_name":"Cadillac","count":43,"avg_year":2006,"min_price":"10500.0","max_price":"9100.0"}
{"manufacturer_name":"Chery","count":58,"avg_year":2011,"min_price":"11000.0","max_price":"9150.0"}
{"manufacturer_name":"Chevrolet","count":436,"avg_year":2011,"min_price":"1000.0","max_price":"9999.0"}
{"manufacturer_name":"Chrysler","count":410,"avg_year":2002,"min_price":"1000.0","max_price":"9900.0"}
{"manufacturer_name":"Citroen","count":1562,"avg_year":2003,"min_price":"100.0","max_price":"9999.0"}
{"manufacturer_name":"Dacia","count":59,"avg_year":2009,"min_price":"11050.0","max_price":"9960.0"}
{"manufacturer_name":"Daewoo","count":221,"avg_year":2001,"min_price":"100.0","max_price":"999.0"}
{"manufacturer_name":"Dodge","count":297,"avg_year":2003,"min_price":"10150.0","max_price":"9990.0"}
{"manufacturer_name":"Fiat","count":824,"avg_year":2000,"min_price":"1.0","max_price":"999.0"}
{"manufacturer_name":"Ford","count":2566,"avg_year":2002,"min_price":"1000.0","max_price":"9999.0"}
{"manufacturer_name":"Geely","count":71,"avg_year":2014,"min_price":"10500.0","max_price":"9000.0"}
{"manufacturer_name":"Great Wall","count":36,"avg_year":2009,"min_price":"11250.0","max_price":"9300.0"}
{"manufacturer_name":"Honda","count":797,"avg_year":2004,"min_price":"100.0","max_price":"9999.0"}
{"manufacturer_name":"Hyundai","count":1116,"avg_year":2007,"min_price":"1000.0","max_price":"9999.0"}
{"manufacturer_name":"Infiniti","count":162,"avg_year":2008,"min_price":"10000.0","max_price":"9800.0"}
{"manufacturer_name":"Iveco","count":139,"avg_year":2003,"min_price":"10000.0","max_price":"9800.0"}
{"manufacturer_name":"Jaguar","count":53,"avg_year":2009,"min_price":"10500.0","max_price":"9900.0"}
{"manufacturer_name":"Jeep","count":107,"avg_year":2005,"min_price":"10000.0","max_price":"9900.0"}
{"manufacturer_name":"Kia","count":912,"avg_year":2008,"min_price":"1000.0","max_price":"9990.0"}
{"manufacturer_name":"LADA","count":146,"avg_year":2014,"min_price":"1000.0","max_price":"9959.2"}
{"manufacturer_name":"Lancia","count":92,"avg_year":2000,"min_price":"1000.0","max_price":"9500.0"}
{"manufacturer_name":"Land Rover","count":184,"avg_year":2007,"min_price":"10000.0","max_price":"9999.0"}
{"manufacturer_name":"Lexus","count":213,"avg_year":2008,"min_price":"10100.0","max_price":"9999.0"}
{"manufacturer_name":"Lifan","count":47,"avg_year":2015,"min_price":"1050.0","max_price":"9959.2"}
{"manufacturer_name":"Lincoln","count":36,"avg_year":2003,"min_price":"10000.0","max_price":"8900.0"}
{"manufacturer_name":"Mazda","count":1328,"avg_year":2002,"min_price":"1.0","max_price":"9999.0"}
{"manufacturer_name":"Mercedes-Benz","count":2237,"avg_year":2002,"min_price":"1.42","max_price":"9999.0"}
{"manufacturer_name":"Mini","count":68,"avg_year":2011,"min_price":"10250.0","max_price":"9500.0"}
{"manufacturer_name":"Mitsubishi","count":887,"avg_year":2002,"min_price":"1000.0","max_price":"9999.0"}
{"manufacturer_name":"Nissan","count":1361,"avg_year":2004,"min_price":"1000.0","max_price":"9999.0"}
{"manufacturer_name":"Opel","count":2759,"avg_year":2002,"min_price":"1000.0","max_price":"9999.0"}
{"manufacturer_name":"Peugeot","count":1909,"avg_year":2003,"min_price":"1.0","max_price":"9999.0"}
{"manufacturer_name":"Pontiac","count":42,"avg_year":2001,"min_price":"10000.0","max_price":"900.0"}
{"manufacturer_name":"Porsche","count":61,"avg_year":2008,"min_price":"10000.0","max_price":"9600.0"}
{"manufacturer_name":"Renault","count":2493,"avg_year":2003,"min_price":"10.0","max_price":"9999.0"}
{"manufacturer_name":"Rover","count":235,"avg_year":1998,"min_price":"1000.0","max_price":"999.0"}
{"manufacturer_name":"Saab","count":108,"avg_year":2001,"min_price":"1000.0","max_price":"924.78"}
{"manufacturer_name":"Seat","count":303,"avg_year":2001,"min_price":"1000.0","max_price":"9999.0"}
{"manufacturer_name":"Skoda","count":1089,"avg_year":2013,"min_price":"1000.0","max_price":"9999.0"}
{"manufacturer_name":"SsangYong","count":79,"avg_year":2007,"min_price":"10000.0","max_price":"9999.0"}
{"manufacturer_name":"Subaru","count":291,"avg_year":2004,"min_price":"1000.0","max_price":"9999.0"}
{"manufacturer_name":"Suzuki","count":234,"avg_year":2004,"min_price":"10000.0","max_price":"9999.0"}
{"manufacturer_name":"Toyota","count":1246,"avg_year":2006,"min_price":"1000.0","max_price":"9999.0"}
{"manufacturer_name":"Volkswagen","count":4243,"avg_year":2002,"min_price":"1.0","max_price":"9999.0"}
{"manufacturer_name":"Volvo","count":721,"avg_year":2004,"min_price":"1000.0","max_price":"9999.0"}
{"manufacturer_name":"ВАЗ","count":481,"avg_year":1994,"min_price":"1.0","max_price":"999.0"}
{"manufacturer_name":"ГАЗ","count":200,"avg_year":1988,"min_price":"1000.0","max_price":"999.0"}
{"manufacturer_name":"ЗАЗ","count":42,"avg_year":1997,"min_price":"1000.0","max_price":"800.0"}
{"manufacturer_name":"Москвич","count":55,"avg_year":1979,"min_price":"1000.0","max_price":"948.5"}
{"manufacturer_name":"УАЗ","count":74,"avg_year":1999,"min_price":"1000.0","max_price":"999.0"}

In [ ]:
!ls result.csv

part-00000-91b45af7-4a7b-4c91-bb9f-540f18e4de9d-c000.csv  _SUCCESS

In [ ]:
!cat result.csv/part-00000-91b45af7-4a7b-4c91-bb9f-540f18e4de9d-c000.csv

Acura,66,2007,11400.0,9700.0
Alfa Romeo,207,1999,1000.0,980.0
Audi,2468,2000,1000.0,9999.0
BMW,2610,2003,1000.0,9999.0
Buick,47,2014,10199.0,9999.0
Cadillac,43,2006,10500.0,9100.0
Chery,58,2011,11000.0,9150.0
Chevrolet,436,2011,1000.0,9999.0
Chrysler,410,2002,1000.0,9900.0
Citroen,1562,2003,100.0,9999.0
Dacia,59,2009,11050.0,9960.0
Daewoo,221,2001,100.0,999.0
Dodge,297,2003,10150.0,9990.0
Fiat,824,2000,1.0,999.0
Ford,2566,2002,1000.0,9999.0
Geely,71,2014,10500.0,9000.0
Great Wall,36,2009,11250.0,9300.0
Honda,797,2004,100.0,9999.0
Hyundai,1116,2007,1000.0,9999.0
Infiniti,162,2008,10000.0,9800.0
Iveco,139,2003,10000.0,9800.0
Jaguar,53,2009,10500.0,9900.0
Jeep,107,2005,10000.0,9900.0
Kia,912,2008,1000.0,9990.0
LADA,146,2014,1000.0,9959.2
Lancia,92,2000,1000.0,9500.0
Land Rover,184,2007,10000.0,9999.0
Lexus,213,2008,10100.0,9999.0
Lifan,47,2015,1050.0,9959.2
Lincoln,36,2003,10000.0,8900.0
Mazda,1328,2002,1.0,9999.0
Mercedes-Benz,2237,2002,1.42,9999.0
Mini,68,2011,10250.0,9500.0
Mitsubishi,887,2002,1000.0,9999.0
Nissan,1361,2004,1000.0,9999.0
Opel,2759,2002,1000.0,9999.0
Peugeot,1909,2003,1.0,9999.0
Pontiac,42,2001,10000.0,900.0
Porsche,61,2008,10000.0,9600.0
Renault,2493,2003,10.0,9999.0
Rover,235,1998,1000.0,999.0
Saab,108,2001,1000.0,924.78
Seat,303,2001,1000.0,9999.0
Skoda,1089,2013,1000.0,9999.0
SsangYong,79,2007,10000.0,9999.0
Subaru,291,2004,1000.0,9999.0
Suzuki,234,2004,10000.0,9999.0
Toyota,1246,2006,1000.0,9999.0
Volkswagen,4243,2002,1.0,9999.0
Volvo,721,2004,1000.0,9999.0
ВАЗ,481,1994,1.0,999.0
ГАЗ,200,1988,1000.0,999.0
ЗАЗ,42,1997,1000.0,800.0
Москвич,55,1979,1000.0,948.5
УАЗ,74,1999,1000.0,999.0